#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #1e2732;
  border-radius: 1.2em;
}

.app-header {
  padding: 0 1em;
}

.app-footer a {
  color: #09f;
}

.app-footer a:hover {
  color: #3bf;
}

.app-footer {
  padding: 1em;
}